-e git+https://github.com/metwork-framework/acquisition.git@a80897f8f71658ea18d2516e1f9cbb042e503be5#egg=acquisition
attrs==19.3.0
backports.functools-lru-cache==1.5
bash==0.6
binaryornot==0.4.4
cachetools==3.1.1
chardet==3.0.4
ConfigArgParse==0.14.0
configparser==3.7.4
-e git+https://github.com/metwork-framework/deploycron.git@c7d4e7b78fa8c9eb9f14ba49b5f90232af7d4709#egg=deploycron
diskcache==3.1.1
enum==0.4.7
-e git+https://github.com/metwork-framework/envtpl.git@a7838100809b367451ddca6477616082b01f4c1c#egg=envtpl
filelock==3.0.12
gitignore-parser==0.0.6
idna==2.8
inotify-simple==1.1.8
Jinja2==2.11.3
MarkupSafe==1.1.1
mflog==0.0.4
-e git+https://github.com/metwork-framework/mfutil.git@73c3dbbb65e91417add2e740299649f356e8aa95#egg=mfutil
mockredispy==2.9.3
netifaces==0.10.9
-e git+https://github.com/metwork-framework/opinionated_configparser.git@0735fbda6d42bb61b10d3e3c3c2ba17463214974#egg=opinionated_configparser
pathlib==1.0.1
psutil==5.6.6
PyYAML==5.4.1
redis==3.2.1
requests==2.25.1
requests-unixsocket==0.2.0
simpleeval==0.9.10
-e git+https://github.com/thefab/pystatsd.git@075001fef55d1caefdd74a55c40db84d829e7edd#egg=statsd
structlog==19.1.0
terminaltables==3.1.0
Unidecode==1.1.1
urllib3==1.26.5
-e git+https://github.com/metwork-framework/xattrfile.git@9c0b2974deeafed59caa3659c685a89e686a0159#egg=xattrfile
