backports.functools-lru-cache==1.6.1
bash==0.6
cachetools==3.1.1
certifi==2019.3.9
chardet==3.0.4
ConfigArgParse==1.0
configparser==4.0.2
-e git+https://github.com/metwork-framework/deploycron.git@45aa24bad7805336d9d99b73d848c65ca63830f9#egg=deploycron
diskcache==4.1.0
enum==0.4.7
enum34==1.1.9
-e git+https://github.com/metwork-framework/envtpl.git@b7a86cef2667be57b530204f1b10763eb81c7643#egg=envtpl
filelock==3.0.12
gitignore-parser==0.0.5
idna==2.9
inotify-simple==1.3.3
Jinja2==2.11.1
MarkupSafe==1.1.1
-e git+https://github.com/metwork-framework/mflog.git@1a36f871fdbe7c126c0067bb9450cab035d5a669#egg=mflog
-e git+https://github.com/metwork-framework/mfutil.git@bc2fc42f9a5e903bc054bd13ccbd23a6bfb31793#egg=mfutil
netifaces==0.10.9
-e git+https://github.com/metwork-framework/opinionated_configparser.git@2a0349ad95d03376de97353fa59f9aba5ca3c4ad#egg=opinionated_configparser
pathlib==1.0.1
psutil==5.7.0
PyYAML==5.3
redis==3.4.1
requests==2.23.0
requests-unixsocket==0.2.0
simpleeval==0.9.10
-e git+https://github.com/thefab/pystatsd.git@075001fef55d1caefdd74a55c40db84d829e7edd#egg=statsd
structlog==20.1.0
terminaltables==3.1.0
Unidecode==1.1.1
urllib3==1.25.8
